#new_item label,legend {
	display: inline-block; width: 10%; height: 2.0em; text-align: right; margin-right: 2%; vertical-align: top;
}

.error {
	font-size: 0.9em;
	color: red;
	margin-left: 1.0em;
}
